.wrapperCalendar {
  height: calc(100% - 76px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperBlackCalenadr {
  position: relative;
  height: calc(100% - 76px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperBlackCalenadr::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.contentCalenadr {
  width: 100%;
}
